*{
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    width: 100vw;

    background-color: rgb(26, 26, 26);
    color: white;
    position: relative;

    font-family: "Anta", sans-serif;
    font-weight: 400;
    font-style: normal;
}

canvas{

    height: 75vh;
    width: 75vw;

    border: 1px solid whitesmoke
}

header{

    width: 90%;

    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;

    font-size: 3rem;

    transform: translate(5%, 30%);
}

.game-container{
    
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    gap: 2rem 0;
    font-size: 2rem;
}

